@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

:root{
  --page-red: hsl(0, 100%, 68%);
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}

/* side by side */
.cc{
  display: flex;
}


body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  font-size: 18px;
}

body::after{
  content: '';
  width: 50vw;
  height: 50vh;
  background: var(--light-grayish-blue);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 0 0 0 10vw;
}

/* applied default font to all elements */
* {
  font-family: 'Barlow Condensed', sans-serif;
}

/* page center */
.page-center{
  max-width: 1440px;
  margin: auto;
  padding: 0 40px;
}

/* navigation bar */
.navigation-bar{
  padding: 50px 0;
}

.navigation-inner{
  display: flex;
  justify-content: space-between;
}

/* logo */
.site-logo{

}

.navigation-right, .navigation-menu{
  display: flex;
}


.navigation-menu{
  list-style: none;
 transform: translateY(-15px);
 -webkit-transform: translateY(-15px);
}

.navigation-menu li {
  margin: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}
.navigation-menu li:last-child{
  margin-right: 0;
}

.navigation-menu li a{
  color: var(--dark-grayish-blue);
  text-decoration: none;
}

.login-link a {
  color: var(--grayish-blue) !important;
}

.navigation-menu li a:hover{
  text-decoration: underline;
}

.navigation-dot{
  position: relative;
}

.navigation-dot::after{
  content: '';
  width: 6px;
  height: 6px;
  background: var(--grayish-blue);
  position: absolute;
  top: 30%;
  left: 48%;
  border-radius: 50%;
}

.navigation-mobile-menu-icon{
  transform: translateY(3px);
  display: none;
}

/* site content */
.site-main-content{
  /* height: 80vh;
  display:
 grid;
  place-items: center; */
}

.site-content-box{
  display: flex;
}

.site-content {
  width: 50%;
  flex: 1;
}

.content-right img {
  transform: translateX(5vw);
  -webkit-transform: translateX(5vw);
}




/* content left */
.content-left{
   flex-shrink: 0;
}

.site-tag, 
.site-sub-tag,
.site-h1,
.schedule-btn {
  text-transform: uppercase;
  padding: 3px 10px;
}

.site-tag{
  font-weight: 700;
  background: var(--very-dark-blue);
  color: #fff;
  border-radius: 20px;
  padding-top: 2px;
}

.site-sub-tag {
  color: var(--grayish-blue);
  letter-spacing: 5px;
}

.site-h1{
  padding: 0;
  font-weight: 700;
  font-size: 5.124vw;
  line-height: 1em;
  color: var(--very-dark-blue);
}

.site-slogan {
  margin-bottom: 4vw;
  line-height: 1.4;
  letter-spacing: 1px;
  font-size: 1.1em;
  color: var(--dark-grayish-blue);
}

.schedule-btn {
  padding: 15px 25px;
  background: var(--page-red);
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: 700;
  transition: 300ms ease;
  -webkit-transition: 300ms ease;
}

.schedule-btn:hover {
  opacity: 0.8;
  padding: 15px 30px;
}

.unique-line-height {
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
}

/* responsive styles */
@media screen and (max-width: 1028px) {
  .site-action-box .site-sub-tag {
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 999px) {
  body::after {
      height: 61.5vh;
  }
  
  .site-h1{
    font-size: 3rem;
  }
  
  .site-content-box {
    flex-direction: column;

  }
  
  .site-content{
    width: 100%;
  }

  .content-left {
    order: 2;
  }
  
  .content-right {
    order: 1;
  }


  .content-right img {
    height: 90% !important;
    object-fit: cover;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    position: relative;
    left: -40px;
  }
}

@media screen and (max-width: 720px) {
  .page-center{
    padding: 0 25px;
  }

  .content-right {
    margin-bottom: 90px;
  }

  .content-right img {
    height: 63vw !important;
    left: -1.9rem;
  }

  .content-left {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .site-h1{
    font-size: 2.2rem;
  }

  .content-right img {
    left: -1.2rem;
  }

  .content-top .site-sub-tag{
    padding: 2px 7px;
  }

  .schedule-btn,
  .site-action-box .site-sub-tag {
    letter-spacing: 1px;
    font-size: 16px;
    white-space: nowrap;
  }

  .schedule-btn {
    padding: 15px 20px;
    margin-right: 0;
  }
}